.body {
    display: flex;
    background-color: rgba(44, 44, 44, 0.61);
    flex-direction: column;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    height: 65%;
    border-radius: 15px;
    color: white;
}

.btn{
    border-radius: 25px;
    padding: 3% 30%;
    margin: 10% 10%;
    border: 0px;
    background-color: rgb(0, 143, 88);
    cursor: pointer;
    background-image: linear-gradient(to right, #241793, #a253a7);
        font-size: medium;
        color: white;
}

.btn:hover{
        background-color: rgb(58, 180, 133);

}