.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1 !important;
    color: white;
    transition: all 0.9s ease-in-out;
    
}

.menuOpened{
    background-color: rgba(37, 37, 37, 0.445);
}

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92%;
    background-color: rgba(37, 37, 37, 0.445);
    /* align-items: center; */
    /* justify-content: center; */
    color: white;
    right: 0;
    z-index: 200;

}

.menu{
    display: flex;
    flex-direction: column;
    height: 90%;
}
.links{
    color: #0468bf;
    width: 100%;
    min-width: 200px;
    padding: 15px 0px;
    background-color: #510e5985;
    border-radius: 5px;
    text-align: center;
    text-decoration:none;
        font-family: 'Piedra',
        cursive;

}

.links:hover{
    background-color: #510e59c9;
}

.active{
    background-color: #0468bf70;
}

.logout{
    color: rgb(218, 218, 218);
    width: 100%;
    padding: 15px 0px;
    background-color: #a8001f41;
    border-radius: 5px;
    text-align: center;
    text-decoration:none;
    font-family: 'Piedra',
    cursive;
}

.logout:hover{
    background-color: #a8001f79;

}

.menuIcon{
    margin: 10px 10px 0px 0px;
    color: #0468bf;
    font-size: 56px;
    float: right;
}

.menuIcon:hover {
    cursor: pointer;
    color: #510e59;

}

@media only screen and (max-width: 800px) {

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    color: white;
}
.menuOpened {
    background-color: rgba(37, 37, 37, 0.945);
    width: 100vh;

}
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.945);
    /* align-items: center; */
    /* justify-content: center; */
    color: white;
    right: 0;
    z-index: 0;
}
} 