.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    color: white;
    background-color: #510e597c;

}

.InputElement:hover {
    /* 032ca657 */
    outline: none;
    background-image: linear-gradient(to right, #032ca67c,#510e597c);

}
.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}