.body{
    display: flex;
    background-color: rgb(43, 43, 43);
    flex-direction: column;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    height: 60%;
    border-radius: 15px;
}